body {
    margin: 0px auto;
    width: 100%;
    font-family: 'Lora';
}
h1 {
    font-size: 3em;
    line-height: .5em;
}
h2 {
    line-height: .5em;
    padding-top: 1em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
.main {
    width: 80%;
    margin: 100px auto;
}
li {
    list-style: none;
    padding-bottom: 10px;
}
li a:link, li a:hover, li a:active, li a:visited {
    color: black;
    text-decoration: none;
}
li a:hover {
    background-color: lightcyan;
}
#resume {
    float: right;
    width: 50%;
    position: relative;
    padding-bottom: 50%;
}
#resume h2{
    padding-top: 0.3em;
}
#resume iframe {
    border: none;
    position: absolute;
    width: 80%;
    height: 80%;
}
.catalogleft img {
    width: 200px;
}

.catalogleft {
    width: 50%;
}

.catalogright img {
    width: 200px;
}

.catalogright {
    float: right;
}

#first {
    margin-top: 0.1em;
}