body {
    margin: 0px auto;
    width: 70%;
    font-family: 'Lora';
}
nav ul, footer ul {
    font-family:'Lora';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
h1 {
    font-size: 4em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.home {
    display: flex;
    align-items:center;
    width: 80%;
    margin: 100px auto;
}
#profile {
    border-radius: 50%;
    max-width: 250px;
    float:left;
}
.hi {
    padding-left: 30px;
}
#more {
    color: #999;
    border-width: 2px;
    border-color: black;
    padding: 5px;
    border-style: solid;
    font-size: 1.5em;
}