body {
    margin: 0px auto;
    width: 100%;
    font-family: 'Lora';
}
h1 {
    font-size: 3em;
    line-height: .5em;
}
h2 {
    line-height: .5em;
}
p {
    font-size: 1em;
    line-height: .5em;
    color: #333;
}
.main {
    width: 80%;
    margin: 100px auto;
}
