.navbar {
    overflow: hidden;
    background-color: lightcyan;
    position: fixed; 
    top: 0;
    width: 100%; 
    font-family: Lora;
    left:0;
    font-size: 1em;
    z-index:1;
}
#right {
    padding-right: 0px;
}
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background: #CCD7E4;
}
#home {
    color: #12263A;
    float: left;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 2em;
}
  