.navbar {
    overflow: hidden;
    background-color: lightcyan;
    position: fixed; 
    top: 0;
    width: 100%; 
    font-family: Lora;
    left:0;
}
#right {
    padding-right: 0px;
}
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
#home {
    float: left;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 2em;
}
  