.navbar {
    overflow: hidden;
    background-color: lightcyan;
    position: fixed; 
    top: 0;
    width: 100%; 
    font-family: 'Karla', 'Lora';
    left:0;
    font-size: 1em;
    z-index:9999;
}
#right {
    padding-right: 0px;
}
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background: #CCD7E4;
}
#home {
    color: #12263A;
    float: left;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 2em;
}
  
.sidenav {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 8%;
    overflow-x: hidden;
}
  
.sidenav a {
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    display: block;
    font-family: 'Karla', 'Lora';
}
  
.sidenav a:hover {
    color: gray;
}